.button-tag-default-active {
    height: 34px;
    padding: 8px 12px 8px 12px;
    border-radius: 31px;
    background-color: #efe3e3;
    border: 1px solid #6C5C5F;
    color: #6C5C5F;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 8px 6px;
}
.button-tag-default {
    height: 34px;
    padding: 8px 12px 8px 12px;
    border-radius: 31px;
    border: 1px solid #6C5C5F;
    color: #6C5C5F;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 8px 6px;
}
.button-tag-main {
    height: 32px;
    padding: 8px 12px 8px 12px;
    border-radius: 31px;
    border: 1px solid #6C5C5F;
    color: #6C5C5F;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 8px 6px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}




